.admin-form > div {
    padding: 2em;
    background: #fff;
    border: 1px solid gray;
    border-radius: 4px;
}

.admin-form input,
textarea {
    padding: 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #555;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    background: rgba(0, 0, 0, 0.02);
}

.admin-form input:focus,
textarea:focus {
    outline: none;
}

.admin-form input[type="submit"] {
    padding: 0.3em 1em;
    background: #555;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.admin-form label {
    width: 5em;
    margin-right: 0.5em;
    text-align: right;
}

.admin-form input[type="submit"] {
    margin-left: auto;
}

.admin-form div:first-child p:first-child {
    justify-content: flex-end;
}

.admin-form textarea {
    resize: vertical;
    color: #aaa;
}

.admin-form div > p {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.admin-form small {
    font-size: 0.8rem;
    color: #aaa;
}
/* small screens */
@media (max-width: 600px) {
    form {
        flex-direction: column;

        p {
            display: block;
        }
    }

    label {
        display: block;
        width: auto;
        text-align: left;
    }

    form > div {
        width: auto;

        + div {
            margin-left: 0;
            margin-bottom: 1em;
            order: -1;
        }
    }

    input {
        width: 100%;
    }
}

.form-horizontal {
    @extend .admin-form;
}

.m-admin-ul {
    position: relative;
    height: 2rem;
    text-align: left;
    margin-top: 2rem;
    cursor: pointer;

    li {
        padding-left: 1rem;

        &:hover {
            @include transition(all 300ms ease-in-out);
            background-color: lighten($color-mid-grey, 50);

            &:last-child {
                background-color: darken($color-white, 2%);
            }
        }
    }
}


.m-upload-area {
  width: 90%;
  margin-left: 5rem;
  padding: 15px;
  border: 1px solid $color-dark-grey;
  background: rgba(0,0,0,0.7);
  margin-top: 1rem;
   transition: background 0.25s;
  &:hover {
      border: 1px solid $color-mid-grey;
      background: rgba(0,0,0,0.6);
  }
}
.m-dropZone {
  border: 2px dashed $color-light-grey;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
  color: $color-light-grey;



}
