html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif; }

body {
  background-color: white;
  font-family: "raleway", sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em; }

h1,
h2,
h3,
h4 {
  font-family: "industry-inc-base";
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  font-family: "industry-inc-base";
  margin-top: 0;
  font-size: 3.998em; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

.font_small,
small {
  font-size: 0.707em; }

pre {
  white-space: pre-wrap; }

html {
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

a,
button {
  color: inherit;
  -webkit-transition: .3s;
  transition: .3s; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

:focus {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

body {
  background-color: #5c5c5c; }

.main-grid {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.flex-boxes {
  -webkit-box-align: stretch;
  align-items: stretch;
  clear: both;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center; }
  .flex-boxes::after {
    clear: both;
    content: "";
    display: block; }
  .flex-boxes .flex-box {
    -ms-grid-row-align: stretch;
    align-self: stretch;
    background: #f7f7f7;
    border-radius: 3px;
    box-shadow: inset 0 0 1px #DDD, 0 2px 4px #e6e6e6;
    display: block;
    -webkit-box-flex: 2;
    flex: 2 2 15em;
    margin: 0.4em;
    padding: 2em 2em 3em 2em;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .flex-boxes .flex-box:nth-child(1) {
      border-top: 6px solid #d8bfd8; }
      .flex-boxes .flex-box:nth-child(1):focus, .flex-boxes .flex-box:nth-child(1):hover {
        background-color: rgba(216, 191, 216, 0.1); }
    .flex-boxes .flex-box:nth-child(2) {
      border-top: 6px solid #f5fffa; }
      .flex-boxes .flex-box:nth-child(2):focus, .flex-boxes .flex-box:nth-child(2):hover {
        background-color: rgba(245, 255, 250, 0.1); }
    .flex-boxes .flex-box:nth-child(3) {
      border-top: 6px solid #deb887; }
      .flex-boxes .flex-box:nth-child(3):focus, .flex-boxes .flex-box:nth-child(3):hover {
        background-color: rgba(222, 184, 135, 0.1); }
    .flex-boxes .flex-box:nth-child(4) {
      border-top: 6px solid #ffe4e1; }
      .flex-boxes .flex-box:nth-child(4):focus, .flex-boxes .flex-box:nth-child(4):hover {
        background-color: rgba(255, 228, 225, 0.1); }
    .flex-boxes .flex-box:nth-child(5) {
      border-top: 6px solid #fff8dc; }
      .flex-boxes .flex-box:nth-child(5):focus, .flex-boxes .flex-box:nth-child(5):hover {
        background-color: rgba(255, 248, 220, 0.1); }
    .flex-boxes .flex-box:nth-child(6) {
      border-top: 6px solid #ffdab9; }
      .flex-boxes .flex-box:nth-child(6):focus, .flex-boxes .flex-box:nth-child(6):hover {
        background-color: rgba(255, 218, 185, 0.1); }
    .flex-boxes .flex-box img {
      display: block;
      height: 3em;
      margin: 0 auto 1em;
      opacity: 0.4; }
    .flex-boxes .flex-box .flex-title {
      color: rgba(51, 51, 51, 0.7);
      font-size: 1.2em;
      margin-bottom: 0.5em; }
    .flex-boxes .flex-box p {
      color: rgba(51, 51, 51, 0.6);
      line-height: 1.5em;
      margin: auto; }
  .flex-boxes .flex-box-big {
    -webkit-box-flex: 1;
    flex: 1 1 40em; }

.breadcrumb {
  display: inline-block;
  margin-bottom: 1.5em;
  text-align: left; }
  .breadcrumb a {
    background-color: white;
    border: 1px solid gainsboro;
    border-left: 0;
    color: #999;
    display: inline-block;
    font-size: 0.8em;
    line-height: 2.25em;
    margin-bottom: 2px;
    margin-right: -5px;
    padding: 0 0.5625em 0 1.125em;
    position: relative;
    text-decoration: none; }
    .breadcrumb a:first-child {
      border-bottom-left-radius: 3px;
      border-left: 1px solid gainsboro;
      border-top-left-radius: 3px;
      padding-left: 1.125em; }
    .breadcrumb a:last-child {
      background-color: white;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      color: #999;
      padding-right: 1.125em; }
    .breadcrumb a:focus, .breadcrumb a:hover {
      background-color: white;
      color: #477DCA; }
    .breadcrumb a::after, .breadcrumb a::before {
      position: absolute;
      top: 0;
      right: auto;
      bottom: 0;
      left: 100%;
      border-bottom: 1.125em solid transparent;
      border-left: 0.5625em solid transparent;
      border-top: 1.125em solid transparent;
      content: "";
      display: block;
      margin: auto;
      z-index: 2; }
    .breadcrumb a:last-child::after, .breadcrumb a:last-child::before {
      border: 0; }
    .breadcrumb a::before {
      border-left-color: gainsboro;
      margin-left: 1px;
      z-index: 1; }
    .breadcrumb a::after {
      border-left-color: white; }
    @media screen and (min-width: 40em) {
      .breadcrumb a {
        font-size: 1em;
        padding: 0 1.125em 0 1.5em; } }

.a-button__large--red {
  display: -webkit-inline-box;
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 1rem 4rem;
  letter-spacing: 0.1em;
  border-radius: 3px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  padding: 20px;
  cursor: pointer; }

.a-button__large--red {
  background-color: #BC8F8F; }
  .a-button__large--red:hover {
    box-shadow: 0 0 0 2px #FFF5EE, 0 0 0 4px #BC8F8F; }
  .a-button__large--red:hover {
    box-shadow: 0 0 0 2px #FFF5EE, 0 0 0 4px #BC8F8F; }

.a-moviepicker__button--red {
  display: -webkit-inline-box;
  display: inline-flex;
  margin-left: 3.3rem;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 1rem 4rem;
  letter-spacing: 0.1em;
  border-radius: 3px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background: #BC8F8F;
  padding: 20px;
  cursor: pointer; }
  .a-moviepicker__button--red-admin {
    display: -webkit-inline-box;
    display: inline-flex;
    vertical-align: middle;
    margin-top: 3rem;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    color: white;
    letter-spacing: 0.1em;
    border-radius: 3px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    background: #BC8F8F;
    padding: 20px;
    cursor: pointer; }
    .a-moviepicker__button--red-admin:hover {
      box-shadow: 0 0 0 2px #FFF5EE, 0 0 0 4px #BC8F8F; }
  .a-moviepicker__button--red:hover {
    box-shadow: 0 0 0 2px #696969, 0 0 0 4px #BC8F8F; }

form.a-search-bar {
  position: relative; }
  form.a-search-bar input[type=search] {
    font-weight: 300;
    font-family: "raleway", sans-serif;
    font-style: italic;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    border: 1px solid gainsboro;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    margin-top: .5em;
    padding: 0.5em 0.5em;
    position: relative;
    -webkit-transition: border-color;
    transition: border-color;
    width: 100%; }
  form.a-search-bar button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    outline: none;
    padding: 5px 10px; }
    form.a-search-bar button[type=submit] img {
      height: 16px;
      padding-right: 1.25rem;
      opacity: 0.5; }
      form.a-search-bar button[type=submit] img:hover {
        opacity: 0.8;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out; }

.movie-picker {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #696969; }
  .movie-picker::after {
    clear: both;
    content: "";
    display: block; }

.movie-picker__section {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 4rem;
  -webkit-box-align: center;
  align-items: center; }
  .movie-picker__section:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .movie-picker__section {
      float: left;
      display: block;
      margin-right: 2.3576520234%;
      width: 100%; }
      .movie-picker__section:last-child {
        margin-right: 0; } }

.dropdown {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 1.5em; }
  .dropdown .dropdown-container {
    display: inline-block;
    position: relative;
    text-align: center; }
  .dropdown .dropdown-description {
    background: white;
    border-bottom: 1px solid silver;
    border-bottom-left-radius: 3px;
    border-left: 1px solid silver;
    border-top-left-radius: 3px;
    border-top: 1px solid silver;
    color: #999999;
    float: left;
    font-size: 0.7em;
    line-height: 40px;
    margin: 0;
    padding: 0 0.5em 0 1em; }
    @media screen and (min-width: 53.75em) {
      .dropdown .dropdown-description {
        font-size: 1em; } }
  .dropdown .dropdown-button {
    background: white;
    border-bottom: 1px solid silver;
    border-bottom-right-radius: 3px;
    border-right: 1px solid silver;
    border-top: 1px solid silver;
    border-top-right-radius: 3px;
    cursor: pointer;
    float: right;
    font-size: 0.7em;
    line-height: 40px;
    margin: 0;
    padding: 0 2.5em 0 0.5em;
    position: relative; }
    @media screen and (min-width: 53.75em) {
      .dropdown .dropdown-button {
        font-size: 1em;
        padding: 0 2.5em 0 0.5em; } }
  .dropdown .dropdown-button:hover {
    background-color: #f7f7f7; }
  .dropdown .dropdown-button::after {
    color: #333;
    font-family: sans-serif;
    content: "\25BE";
    display: block;
    position: absolute;
    right: 1em;
    top: 0; }
  .dropdown .dropdown-menu {
    background: white;
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: #333;
    cursor: pointer;
    display: none;
    margin: 0;
    overflow: show;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 228px;
    z-index: 99999; }
    .dropdown .dropdown-menu::before {
      position: absolute;
      top: 0;
      right: 1em;
      bottom: 0;
      left: 0;
      color: white;
      font-family: sans-serif;
      content: "\25b2";
      font-size: 1.4em;
      pointer-events: none;
      text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.3);
      top: -0.7em; }
  .dropdown .dropdown-menu li {
    border-bottom: 1px solid silver;
    color: #333;
    list-style: none;
    padding: 0.5em; }
  .dropdown .dropdown-menu li:hover {
    background: #f7f7f7; }
  .dropdown .dropdown-menu li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .dropdown .dropdown-menu li:last-child {
    border: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .dropdown .show-menu {
    display: block; }

.m-movie-cards {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #696969; }

.m-cards {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between; }

.m-card {
  background-color: #f6f6f6;
  border: 1px solid gainsboro;
  border-radius: 3px;
  box-shadow: 0 2px 4px #e6e6e6;
  cursor: pointer;
  flex-basis: 15em;
  -webkit-box-flex: 1;
  flex-grow: 1;
  margin: 0 1em 1.5em 1em;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .m-card .m-card-image {
    background-color: #F8F2B4;
    height: 150px;
    max-height: 150px;
    overflow: hidden; }
    .m-card .m-card-image img {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      opacity: 1;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      width: 100%; }
  .m-card .m-card-header {
    background-color: #f6f6f6;
    border-bottom: 1px solid gainsboro;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.5em 0.75em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .m-card .m-card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.75em 0.75em; }
    .m-card .m-card-copy p {
      margin: 0 0 0.75em; }
  .m-card:focus, .m-card:hover {
    cursor: pointer; }
    .m-card:focus img, .m-card:hover img {
      opacity: 0.7; }
  .m-card:active {
    background-color: #f6f6f6; }
    .m-card:active .m-card-header {
      background-color: #f6f6f6; }

.admin-form > div, .form-horizontal > div {
  padding: 2em;
  background: #fff;
  border: 1px solid gray;
  border-radius: 4px; }

.admin-form input, .form-horizontal input,
textarea {
  padding: 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #555;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  background: rgba(0, 0, 0, 0.02); }

.admin-form input:focus, .form-horizontal input:focus,
textarea:focus {
  outline: none; }

.admin-form input[type="submit"], .form-horizontal input[type="submit"] {
  padding: 0.3em 1em;
  background: #555;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer; }

.admin-form label, .form-horizontal label {
  width: 5em;
  margin-right: 0.5em;
  text-align: right; }

.admin-form input[type="submit"], .form-horizontal input[type="submit"] {
  margin-left: auto; }

.admin-form div:first-child p:first-child, .form-horizontal div:first-child p:first-child {
  -webkit-box-pack: end;
  justify-content: flex-end; }

.admin-form textarea, .form-horizontal textarea {
  resize: vertical;
  color: #aaa; }

.admin-form div > p:first-child, .form-horizontal div > p:first-child {
  margin-top: 0; }

.admin-form div > p:last-child, .form-horizontal div > p:last-child {
  margin-bottom: 0; }

.admin-form small, .form-horizontal small {
  font-size: 0.8rem;
  color: #aaa; }

/* small screens */
@media (max-width: 600px) {
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column; }
    form p {
      display: block; }
  label {
    display: block;
    width: auto;
    text-align: left; }
  form > div {
    width: auto; }
    form > div + div {
      margin-left: 0;
      margin-bottom: 1em;
      -webkit-box-ordinal-group: 0;
      order: -1; }
  input {
    width: 100%; } }

.admin {
  position: relative;
  height: 2rem;
  text-align: left;
  margin-top: 2rem;
  cursor: pointer; }
  .admin li {
    padding-left: 1rem; }
    .admin li:hover {
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      background-color: #e9e9e9; }

/*--------------------------------------------------------------
Layouts
--------------------------------------------------------------*/
.centered {
  margin: 0 auto;
  padding: 0 1em; }

@media screen and (min-width: 52em) {
  .centered {
    max-width: 52em; } }

/* Base styles that apply to all menus */
.menu {
  position: fixed;
  top: 0;
  -webkit-transition: top 0.6s ease-in-out;
  transition: top 0.6s ease-in-out;
  width: 100%;
  z-index: 999;
  font-size: 1.2rem;
  box-shadow: 0 6px 6px -6px black; }
  .menu ul {
    list-style-type: none;
    background: #696969;
    padding-left: 0.2rem; }
  .menu li a {
    display: block;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 1em; }
    .menu li a:hover {
      background: #646464; }

.multi-level-nav ul ul {
  display: none;
  position: absolute;
  z-index: 100; }
  .multi-level-nav ul ul li {
    -webkit-box-flex: 1;
    flex: 1 1 auto; }

.multi-level-nav ul .toggled-on {
  display: -webkit-box;
  display: flex; }

.dropdown-toggle {
  margin: 0;
  padding: 0 0.5em;
  border: 0;
  font-family: 'FontAwesome';
  content: "";
  text-transform: lowercase;
  /* Stop screen readers to read the text as capital letters */
  background-color: transparent; }
  .dropdown-toggle:after {
    position: relative;
    top: 0;
    left: 0;
    width: 42px;
    color: white;
    content: "\f107";
    line-height: 1em; }
  .dropdown-toggle:focus, .dropdown-toggle:hover {
    background: #696969; }
  .dropdown-toggle.toggle-on:after {
    content: "\f106"; }

/* Styles for social media menu */
/* Find src URL and add in correct social media icon. */
.social-menu li a:before {
  font-family: 'Fontawesome';
  -webkit-font-smoothing: antialiased; }

.social-menu li a[href*="#account"]::before {
  content: '\f007';
  padding-right: .2rem; }

.social-menu li a[href*="#login"]::before {
  content: '\f007';
  padding-right: .4rem; }

.social-menu li a[href*="#register"]::before {
  content: '\f08e';
  padding-right: .4rem; }

.social-menu li a[href*="dribbble.com"]::before {
  content: '\f17d'; }

.social-menu li a[href*="facebook.com"]::before {
  content: '\f09a'; }

.social-menu li a[href*="flickr.com"]::before {
  content: '\f16e'; }

.social-menu li a[href*="foursquare.com"]::before {
  content: '\f180'; }

.social-menu li a[href*="github.com"]::before {
  content: '\f09b'; }

.social-menu li a[href*="plus.google.com"]::before {
  content: '\f0d5'; }

.social-menu li a[href*="instagram.com"]::before {
  content: '\f16d'; }

.social-menu li a[href*="jsfiddle.com"]::before {
  content: '\f1cc'; }

.social-menu li a[href*="linkedin.com"]::before {
  content: '\f0e1'; }

.social-menu li a[href*="pinterest.com"]::before {
  content: '\f0d2'; }

.social-menu li a[href*="reddit.com"]::before {
  content: '\f1a1'; }

.social-menu li a[href*="soundcloud.com"]::before {
  content: '\f1be'; }

.social-menu li a[href*="stackoverflow.com"]::before {
  content: '\f16c'; }

.social-menu li a[href*="tumblr.com"]::before {
  content: '\f173'; }

.social-menu li a[href*="twitter.com"]::before {
  content: '\f099'; }

.social-menu li a[href*="vimeo.com"]::before {
  content: '\f194'; }

.social-menu li a[href*="vine.co"]::before {
  content: '\f1ca'; }

.social-menu li a[href*="yelp.com"]::before {
  content: '\f1e9'; }

.social-menu li a[href*="youtube.com"]::before {
  content: '\f167'; }

.social-menu li a[href*="wordpress.com"]::before {
  content: '\f19a'; }

.social-menu ul {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  justify-content: flex-end; }

/* Flexbox stuff */
/* Styles for mixed menu (drop-down + social) */
.nav-mixed {
  display: -webkit-box;
  display: flex;
  background: #696969;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between; }

/* Styles for Single Level Menu */
@media screen and (max-width: 10em) {
  .multi-level-nav ul ul li a {
    padding-left: 2em; }
  .dropdown-toggle {
    display: none; } }

@media screen and (min-width: 30em) {
  .multi-level-nav ul {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between; }
  .multi-level-nav li {
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    position: relative; }
  li.has-children > a {
    padding-right: 0; }
  .multi-level-nav ul ul {
    display: none;
    position: absolute;
    z-index: 100; }
    .multi-level-nav ul ul li {
      -webkit-box-flex: 1;
      flex: 1 1 auto; }
  .multi-level-nav ul .toggled-on {
    display: -webkit-box;
    display: flex; }
  .dropdown-toggle {
    margin: 0;
    padding: 0 0.5em;
    border: 0;
    font-family: 'FontAwesome';
    content: "";
    text-transform: lowercase;
    /* Stop screen readers to read the text as capital letters */
    background-color: transparent; }
    .dropdown-toggle:after {
      position: relative;
      top: 0;
      left: 0;
      width: 42px;
      color: white;
      content: "\f107";
      line-height: 1em; }
    .dropdown-toggle:focus, .dropdown-toggle:hover {
      background: #696969; }
    .dropdown-toggle.toggle-on:after {
      content: "\f106"; } }

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:active, .screen-reader-text:focus, .screen-reader-text:hover {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; }

.hero {
  height: 50%;
  width: 100%;
  padding-bottom: 2rem; }

.background {
  width: 100%;
  height: 50rem;
  background-image: url("/images/2001-A-Space-Odyssey-2.jpg");
  background-image: url("/images/2001-A-Space-Odyssey-2.jpg");
  background-color: #BC8F8F;
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center fixed; }

/*  Basic Title  */
h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 16rem;
  width: 100%;
  font-family: "industry-inc-3d";
  letter-spacing: 14px;
  font-size: 5em;
  text-align: center;
  color: #000000;
  -webkit-animation: 3s fade;
  animation: 3s fade;
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 3rem; }
  h1 span {
    display: inline-block;
    position: relative;
    padding: 0.5em 1em; }
    h1 span:before {
      display: block;
      content: '';
      width: 110%;
      margin-left: -5%;
      margin-bottom: 5%;
      border-top: 1px solid #000000;
      -webkit-animation: 2.5s draw;
      animation: 2.5s draw; }
    h1 span:after {
      display: block;
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      border-bottom: 1px solid #696969;
      -webkit-animation: 2.5s draw-bottom;
      animation: 2.5s draw-bottom; }

/* Film Animations */
@-webkit-keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0, 0);
    transform: translate(0, 0, 0); }
  10% {
    -webkit-transform: translate(-1%, -1%);
    transform: translate(-1%, -1%); }
  20% {
    -webkit-transform: translate(1%, 1%);
    transform: translate(1%, 1%); }
  30% {
    -webkit-transform: translate(-2%, -2%);
    transform: translate(-2%, -2%); }
  40% {
    -webkit-transform: translate(3%, 3%);
    transform: translate(3%, 3%); }
  50% {
    -webkit-transform: translate(-3%, -3%);
    transform: translate(-3%, -3%); }
  60% {
    -webkit-transform: translate(4%, 4%);
    transform: translate(4%, 4%); }
  70% {
    -webkit-transform: translate(-4%, -4%);
    transform: translate(-4%, -4%); }
  80% {
    -webkit-transform: translate(2%, 2%);
    transform: translate(2%, 2%); }
  90% {
    -webkit-transform: translate(-3%, -3%);
    transform: translate(-3%, -3%); } }
@keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0, 0);
    transform: translate(0, 0, 0); }
  10% {
    -webkit-transform: translate(-1%, -1%);
    transform: translate(-1%, -1%); }
  20% {
    -webkit-transform: translate(1%, 1%);
    transform: translate(1%, 1%); }
  30% {
    -webkit-transform: translate(-2%, -2%);
    transform: translate(-2%, -2%); }
  40% {
    -webkit-transform: translate(3%, 3%);
    transform: translate(3%, 3%); }
  50% {
    -webkit-transform: translate(-3%, -3%);
    transform: translate(-3%, -3%); }
  60% {
    -webkit-transform: translate(4%, 4%);
    transform: translate(4%, 4%); }
  70% {
    -webkit-transform: translate(-4%, -4%);
    transform: translate(-4%, -4%); }
  80% {
    -webkit-transform: translate(2%, 2%);
    transform: translate(2%, 2%); }
  90% {
    -webkit-transform: translate(-3%, -3%);
    transform: translate(-3%, -3%); } }

@-webkit-keyframes scratch {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0.075; }
  10% {
    -webkit-transform: translateX(-1%);
    transform: translateX(-1%); }
  20% {
    -webkit-transform: translateX(1%);
    transform: translateX(1%); }
  30% {
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%);
    opacity: 0.09; }
  40% {
    -webkit-transform: translateX(3%);
    transform: translateX(3%); }
  50% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%);
    opacity: 0.05; }
  60% {
    -webkit-transform: translateX(8%);
    transform: translateX(8%); }
  70% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%); }
  80% {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
    opacity: 0.02; }
  90% {
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%); } }

@keyframes scratch {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0.075; }
  10% {
    -webkit-transform: translateX(-1%);
    transform: translateX(-1%); }
  20% {
    -webkit-transform: translateX(1%);
    transform: translateX(1%); }
  30% {
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%);
    opacity: 0.09; }
  40% {
    -webkit-transform: translateX(3%);
    transform: translateX(3%); }
  50% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%);
    opacity: 0.05; }
  60% {
    -webkit-transform: translateX(8%);
    transform: translateX(8%); }
  70% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%); }
  80% {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
    opacity: 0.02; }
  90% {
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%); } }

@-webkit-keyframes inner-scratch {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0.08; }
  10% {
    -webkit-transform: translateX(-1%);
    transform: translateX(-1%); }
  20% {
    -webkit-transform: translateX(1%);
    transform: translateX(1%); }
  30% {
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%); }
  40% {
    -webkit-transform: translateX(3%);
    transform: translateX(3%); }
  50% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%);
    opacity: 0.06; }
  60% {
    -webkit-transform: translateX(8%);
    transform: translateX(8%); }
  70% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%); }
  80% {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
    opacity: 0.03; }
  90% {
    -webkit-transform: translateX(20%);
    transform: translateX(20%); }
  100% {
    -webkit-transform: translateX(30%);
    transform: translateX(30%); } }

@keyframes inner-scratch {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0.08; }
  10% {
    -webkit-transform: translateX(-1%);
    transform: translateX(-1%); }
  20% {
    -webkit-transform: translateX(1%);
    transform: translateX(1%); }
  30% {
    -webkit-transform: translateX(-2%);
    transform: translateX(-2%); }
  40% {
    -webkit-transform: translateX(3%);
    transform: translateX(3%); }
  50% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%);
    opacity: 0.06; }
  60% {
    -webkit-transform: translateX(8%);
    transform: translateX(8%); }
  70% {
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%); }
  80% {
    -webkit-transform: translateX(10%);
    transform: translateX(10%);
    opacity: 0.03; }
  90% {
    -webkit-transform: translateX(20%);
    transform: translateX(20%); }
  100% {
    -webkit-transform: translateX(30%);
    transform: translateX(30%); } }

/* Simple Title Animation */
@-webkit-keyframes draw {
  0% {
    width: 0; }
  100% {
    width: 110%; } }
@keyframes draw {
  0% {
    width: 0; }
  100% {
    width: 110%; } }

@-webkit-keyframes draw-bottom {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes draw-bottom {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.footer {
  background: #363636;
  padding: 3em 1.618em;
  width: 100%; }
  .footer .footer-logo {
    margin-bottom: 2em;
    text-align: center; }
    .footer .footer-logo img {
      height: 3em; }
  .footer .footer-links {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 1.5em; }
  .footer .footer-links ul {
    flex-basis: 13em;
    flex-shrink: 0;
    margin-bottom: 3em;
    padding: 0; }
  .footer .footer-links li {
    line-height: 1.5em;
    list-style: none;
    text-align: center; }
  .footer .footer-links li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none; }
    .footer .footer-links li a:focus, .footer .footer-links li a:hover {
      color: white; }
  .footer .footer-links li h3 {
    color: white;
    font-size: 1em;
    margin-bottom: 0.4em; }
  .footer .footer-links hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto 1.5em;
    width: 12em; }
  .footer .footer-links p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

.side-image {
  margin-top: 20rem;
  margin-bottom: 20rem;
  background: #F9F9F9; }
  @media screen and (min-width: 53.75em) {
    .side-image {
      display: table;
      width: 100%;
      table-layout: fixed; } }
  .side-image .images-wrapper {
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"), -webkit-linear-gradient(#B5EBEB, #5DAC5D), no-repeat #B5EBEB scroll;
    background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"), linear-gradient(#B5EBEB, #5DAC5D), no-repeat #B5EBEB scroll;
    background-color: #B5EBEB;
    background-size: cover;
    border-bottom: 1px solid rgba(38, 74, 38, 0.2);
    display: block;
    min-height: 12em;
    padding: 3em; }
    @media screen and (min-width: 53.75em) {
      .side-image .images-wrapper {
        display: table-cell;
        width: 33.3333333333%;
        background-position: bottom;
        background-size: cover;
        border-right: 1px solid rgba(38, 74, 38, 0.2); } }
  .side-image .side-image-content {
    display: table-cell;
    width: 100%;
    padding: 1em 1em 4em 1em; }
    @media screen and (min-width: 53.75em) {
      .side-image .side-image-content {
        display: table-cell;
        width: 66.6666666667%;
        padding: 4em 4em 8em 4em; } }
    .side-image .side-image-content h1 {
      margin-bottom: 0.9em; }
    .side-image .side-image-content h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase; }
    .side-image .side-image-content p {
      color: #333;
      line-height: 1.5em;
      margin-bottom: 3em; }

body {
  background-color: #ffffff; }

.p-wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .p-wrapper::after {
    clear: both;
    content: "";
    display: block; }
  .p-wrapper .p-primary {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 31.7615653177%;
    padding: 10rem;
    background-color: #fafafa;
    height: 100vh; }
    .p-wrapper .p-primary:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .p-wrapper .p-primary {
        float: left;
        display: block;
        margin-right: 2.3576520234%;
        width: 100%; }
        .p-wrapper .p-primary:last-child {
          margin-right: 0; } }
  .p-wrapper .p-secondary {
    float: left;
    display: block;
    margin-right: 2.3576520234%;
    width: 65.8807826589%;
    padding: 10rem 5rem 10rem 2.5rem;
    background-color: #ffffff;
    height: 100vh; }
    .p-wrapper .p-secondary:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .p-wrapper .p-secondary {
        float: left;
        display: block;
        margin-right: 2.3576520234%;
        width: 100%; }
        .p-wrapper .p-secondary:last-child {
          margin-right: 0; } }

form {
  display: -webkit-box;
  display: flex; }

form > div {
  -webkit-box-flex: 1;
  flex: 1;
  min-width: 0;
  /* fix for min-width: auto */ }

form > div + div {
  margin-left: 1em; }

/* 2- fluid inputs */
div > p {
  display: -webkit-box;
  display: flex; }

form input:not([type=submit]) {
  -webkit-box-flex: 1;
  flex: 1;
  /* fluid width */
  display: block;
  /* IE fix */
  min-width: 0;
  /* fix for min-width: auto */ }

/* 3- fluid textarea */
textarea {
  -webkit-box-flex: 1;
  flex: 1;
  /* fluid height */
  display: block;
  /* IE fix */ }

/*# sourceMappingURL=app.css.map */
