.o-hero {
	height: 100vh;
	width: 100%;
	margin-bottom: 2rem;


}
//no-repeat center center fixed;

.o-background {
	width: 100%;
	height: 100vh;
	@include background-image (url('/images/the-thing__feature--home.jpg') );
	z-index:-1000000;

/* background-color: blue;
background-blend-mode: screen; */ //multiply works well too...
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}


.o-hero__h1 {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 22rem;
	width: 100%;
	font-family: $font-heading-decorative;
	letter-spacing: 14px;
	font-size: 5em;
	text-align: center;
	color: $color-white;
	-webkit-animation: 3s fade;
	animation: 3s fade;
	background-color: hsla(360, 100%, 100%, 0.1);
	padding-bottom: 3rem;

	span {
		display: inline-block;
		position: relative;
		padding: 0.5em 1em;

		&:before {
			display: block;
			content: '';
			width: 110%;
			margin-left: -5%;
			margin-bottom: 5%;
			border-top: 2px solid  $color-white;
			-webkit-animation: 2.5s draw;
			animation: 2.5s draw;
		}

		&:after {
			display: block;
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			border-bottom: 2px solid $color-white;
			-webkit-animation: 2.5s draw-bottom;
			animation: 2.5s draw-bottom;
		}
	}
}

/* Simple Title Animation */
@keyframes draw {
	0% {
		width: 0;
	}

	100% {
		width: 110%;
	}
}
@keyframes draw-bottom {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}
@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
