.o-header--flash {
    display: block;
    padding: 0.1rem;
    background-color: $color-rosy-brown;
    width: 100%;

    &--alt-color {
        display: block;
        padding: 0.1rem;
        background-color: $color-vibrant-red;
        width: 100%;
    }
}

.o-header {
    background: $color-grey-blue;
    color: white;
    padding: 1rem;

    &--alt-color {
        color: white;
        padding: 1rem;
        background-color: $color-vibrant-blue;
    }
}

.o-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.o-nav-logo {
    cursor: pointer;
}

.o-nav-title,
.o-site-tagline {
    font-weight: 400;
}
@media (max-width: 700px) {
    .o-nav-title,
    .o-site-tagline {
        width: 100%;
        text-align: center;
    }

    .o-nav-title {
        margin: 0;
        display: flex;
        padding-left: 1rem;
    }
}

.o-nav-title--text {
    @include font-weight(700);
    margin-left: 0.5rem;
    font-size: 1.5em;
    font-family: $font-heading-primary;
}
// Navigation, including mobile version

.main-nav {
    background: lighten($color-light-grey, 20);
    color: $color-black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    a {
        color: $color-black;
        text-decoration: none;
    }

    li,
    ul {
        list-style: none;
        margin: 0;
    }

    ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 100%;

        a {
            padding: em(15px) em(35px);
            display: flex;
            text-transform: uppercase;

            &:focus,
            &:hover {
                background: lighten($color-light-grey, 25);
                color: lighten($color-light-grey, 5);
            }
        }

        .mobile-button a {
            position: absolute;
            left: -99999em;
        }
    }
    @media (max-width: 700px) {
        ul {
            flex-wrap: wrap;
            justify-content: flex-start;
            z-index: 3;

            a {
                position: absolute;
                left: -99999em;
            }

            &.open {
                li {
                    width: 100%;

                    &.mobile-button a {
                        background: lighten($color-danger, 50);
                        color: darken($color-white, 20);
                    }
                }

                a {
                    position: static;
                }
            }

            .mobile-button {
                a {
                    position: static;
                }
            }
        }

        a {
            width: 100%;
        }
    }
}

.o-header--authenticate {
    display: flex;
    padding: 1rem;
    margin-left: auto;

    p:first-of-type {
        @include font-weight(700);
        color: $color-white;
        cursor: pointer;
        margin-right: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }

    p:last-of-type {
        @include font-weight(700);
        color: $color-rosy-brown;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}


.o-header--authenticate--alt {
    display: flex;
    padding: 1rem;
    margin-left: auto;

    p:first-of-type {
        @include font-weight(700);
        color: $color-white;
        cursor: pointer;
        margin-right: 1rem;

        &:hover {
            text-decoration: underline;
        }
    }

    p:last-of-type {
        @include font-weight(700);
        color: $color-vibrant-red;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
