.o-header--flash{
    display:block;
    padding:.1rem;
    background-color:$color-rosy-brown ;
    width: 100%;
    }


.header {
    background: $color-grey-blue;
    color: white;
    padding: 1rem;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .nav-logo {
        cursor: pointer;
    }

    .site-tagline,
    .site-title {
        font-weight: 400;
    }
    @media (max-width: 700px) {
        .site-tagline,
        .site-title {
            width: 100%;
            text-align: center;
        }

        .site-title {
            margin: 0;
        }
    }
}
// Navigation, including mobile version

.main-nav {
    background: lighten($color-light-grey, 20);
    color: $color-black;
    //transition: none;
    a {
        color: $color-black;
        text-decoration: none;
    }

    li,
    ul {
        list-style: none;
        margin: 0;
    }

    ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 100%;

        a {
            padding: em(15px) em(35px);
            display: flex;
            text-transform: uppercase;

            &:focus,
            &:hover {
                background: lighten($color-light-grey, 25);
                color: lighten($color-light-grey, 5);
            }
        }

        .mobile-button a {
            position: absolute;
            left: -99999em;
        }
    }
    @media (max-width: 700px) {
        ul {
            flex-wrap: wrap;
            justify-content: flex-start;
            z-index: 3;

            a {
                position: absolute;
                left: -99999em;
            }

            &.open {
                li {
                    width: 100%;

                    &.mobile-button a {
                        background: lighten($color-danger, 50);
                        color: darken($color-white, 20);
                    }
                }

                a {
                    position: static;
                }
            }

            .mobile-button {
                a {
                    position: static;
                }
            }
        }

        a {
            width: 100%;
        }
    }
}
